$color-primary: #00FE00;

$color-font-primary: #fff;
$color-font-secundary: #000;
$color-font-secundary-light: #444;

$color-icon-ubication: #FF0000;
$color-icon-pool: #00D3FF;
$color-icon-speaker: #615E5E;
$color-icon-security: $color-primary;

$color-icon-combo: $color-primary;


$background-primary: #444;
$background-secundary: #FFF;
$background-black-transparent: rgba(#3E3E3E, 0.9); 

$color-button: #97A906;